.login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Send it to the back */
    overflow: hidden;
}

.login-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    filter: brightness(0.5);
    /* Add a filter for better contrast */
}

.login-container {
    position: relative;
    /* Ensure it's above the video */
    background: rgba(255, 255, 255, 0.1);
    /* Semi-transparent background */
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
    /* This is important for the backdrop-filter to work */

    /* Glassmorphism effect */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dropdown-menu-scrollable {
    max-height: 200px;
    /* Adjust the height as needed */
    overflow-y: auto;
}

@media (max-width: 576px) {
    .login-container {
        padding: 20px;
    }
}

@media (min-width: 576px) {
    .login-container {
        padding: 40px;
    }
}